*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #FAA613;
   
   
}


.bars
{
    color: #ffffff;
    font-size: 50px;
    text-align: right;
    margin-left: auto;
    visibility: hidden;
   
    
    
}
.body
{
    display: flex;
    flex-direction:column;
    justify-content: 10px;
    font-family: 'Raleway', sans-serif;
}
.navigation
{
    width: 70px;
    height:380px;
   
    border-bottom-right-radius: 20px;
   
    border-top-right-radius: 20px;
    
    position: relative;
    background: #550527;
    z-index: 9;
    padding: 20px;
    box-shadow: 10px 0 0 #2A9D8F;
    font-family: 'Raleway', sans-serif;
    border-left: 10px solid #550527;
    overflow-x: hidden;
    transition: width 0.5s;
    
}
.navigation:hover
{
    width: 300px;
    
}
.navigation ul
{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li
{
    list-style: none;
    width: 100%;
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li.active
{
    background: #2A9D8F;
    
}
.navigation ul li a
{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffffff;


}
.navigation ul li.active a::before
{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #550527;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #2A9D8F;
}
.navigation ul li.active a::after
{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #550527;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #2A9D8F;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.navigation ul li a .icon ion-icon
{
    position: relative;
    font-size: 1.5em;
    z-index: 1;

}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 50px;
    white-space: nowrap;
}
.bar
{
    width: 100%;
    box-shadow: 7px 7px #2A9D8F;
    align-items: center;
    height: fit-content;
    background: #550527;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    
   
}

.img1
{
    height: 200px;
    margin-left: 10px;
    
    
}
.main
{
    font-family:'Genos', sans-serif;
    color: #ffffff;
    text-align: center;
    text-shadow: black 2px;
    font-size: 35px;
    padding: 5px;
    margin-left: auto;
    
    
   
   
}
.form
{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
form
{
   margin-top: 50px;
   width: 270px;
   height: 259px;
   background: rgba(225, 225, 225, 0.4);
   backdrop-filter: blur(10PX);
   border-radius: 20px;
   box-shadow: 0 0 20px #000;
   color: white;

}
form label
{
    color: #000;
    font-style: bold;
    font-weight: 700;
    
}
input
{
    border-radius: 20px;
    height: 30px;
    width: 210px;
    padding: 10px;
    background: rgba(42, 157, 143, 0.2);
    color: black;
   margin-bottom: 20px;
   margin-top: 5px;
    border: none;
}
form h1
{
    margin-top: 20px;
    
    font-family:'Genos', sans-serif;
    color: #000;
    font-style: bold;
    font-weight:700;
    font-size: 30px;
    
}
form button
{
    width: 100px;
    padding: 5px;
    background: #2A9D8F;
    border-radius: 20px;
    color: white;
  
    padding: 6px;
}
form button:hover
{
    background: #1c6960;
    padding: 7px;
}
hr
{
    margin-bottom: 10px;
    background: #550527;
    border-radius: 5px;
    height: 3px;
    border: none;
}

.content
{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.left
{
    text-align: left;
    padding: 20px;
    color: white;
    font-size: 26px;
}
.lister
{
    margin-left:20px; 
    font-size: 20px
}
.sidetoside
{
    display: flex;
    flex-direction: row;
}
.sidetoside2
{
    display: flex;
    flex-direction: row;
}
/*/////////////////////////////////////////////////////////*/

@media (max-width: 700px) {
    .bars
    {
        visibility: visible;
    }
    .navigation
{
    width: 1px;
    height:380px;
   
    border-bottom-right-radius: 20px;
   
    border-top-right-radius: 20px;
    
    position: relative;
    background: #550527;
    z-index: 9;
    padding: 1px;
    box-shadow: 10px 0 0 #2A9D8F;
    font-family: 'Raleway', sans-serif;
    border-left: 10px solid #550527;
    overflow-x: hidden;
    transition: width 0.5s;
    
}


.navigation ul
{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    padding-left: 5px;
    padding-top: 40px;
}

    .sidetoside
{
    display: flex;
    flex-direction: column;
    
}
.sidetoside2
{
    display: flex;
    flex-direction: row;
}

.lister
{
    margin-left:13px; 
    font-size: 20px
}
form
{
    width: 250px;
}
}